<!-- Page Heading -->
<div class="d-sm-flex align-items-center justify-content-between mb-4">
    <h1 class="h3 mb-0 text-gray-800">Edit Issue</h1>
</div>

<p>Issue: <%= issue.title %></p>

<div class="card o-hidden border-0 shadow-lg my-5">
    <div class="card-body p-0">
        <!-- Nested Row within Card Body -->
        <div class="row">
            <div class="col-lg-6 d-none d-lg-block bg-login-image"></div>
            <div class="col-lg-6">
                <div class="p-5">
                    <form method="POST" action="/issues/<%= project._id %>/<%= issue._id %>">
                        <input type="hidden" name="_method" value="PUT">
                        <div class="form-group">
                            <input type="text" name="title" class="form-control" id="title" value="<%= issue.title%>" placeholder="Title">
                        </div>
                        <div class="form-group">
                            <textarea name="description" id="description" placeholder="description"><%= issue.description %></textarea>
                        </div>
                        <p>Type:</p>
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="type"
                                id="inlineRadio1"
                                value="Bug"
                                <% if (issue.type == 'Bug') { %>
                                    checked
                                <% } %>
                                />
                                <label class="form-check-label" for="inlineRadio1"><button type="button" class="btn btn-danger">Bug</button></label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="type"
                                id="inlineRadio2"
                                value="Feature"
                                <% if (issue.type == 'Feature') { %>
                                    checked
                                <% } %>
                                />
                                <label class="form-check-label" for="inlineRadio2"><button type="button" class="btn btn-warning">Feature</button></label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="type"
                                id="inlineRadio3"
                                value="Discussion"
                                <% if (issue.type == 'Discussion') { %>
                                    checked
                                <% } %>
                                />
                                <label class="form-check-label" for="inlineRadio3"><button type="button" class="btn btn-info">Discussion</button></label>
                        </div>

                        <br/></br>

                        <p>Priority:</p>
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="priority"
                                id="inlineRadio1"
                                value="None"
                                <% if (issue.priority == 'None') { %>
                                    checked
                                <% } %>
                                />
                                <label class="form-check-label" for="inlineRadio1"><button type="button" class="btn btn-info">None</button></label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="priority"
                                id="inlineRadio2"
                                value="Low"
                                <% if (issue.priority == 'Low') { %>
                                    checked
                                <% } %>
                                />
                                <label class="form-check-label" for="inlineRadio2"><button type="button" class="btn btn-success">Low</button></label>
                        </div>

                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="priority"
                                id="inlineRadio3"
                                value="Medium"
                                <% if (issue.priority == 'Medium') { %>
                                    checked
                                <% } %>
                                />
                                <label class="form-check-label" for="inlineRadio3"><button type="button" class="btn btn-warning">Medium</button></label>
                        </div>
                        <div class="form-check form-check-inline">
                            <input
                                class="form-check-input"
                                type="radio"
                                name="priority"
                                id="inlineRadio3"
                                value="High"
                                <% if (issue.priority == 'High') { %>
                                    checked
                                <% } %>
                                />
                                <label class="form-check-label" for="inlineRadio3"><button type="button" class="btn btn-danger">High</button></label>
                        </div>
                        <br/><br/>
                        <button type="submit" class="btn btn-primary btn-user btn-block">
                            Save
                        </button>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
